:root {
  --main-bg-color: #fff;
  --color-one: #757575;
  --color-two: #212121;
  --color-three: #2196f3;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--color-one);
  font-size: 14px;
  line-height: 24px;
}

.header {
  background: var(--main-bg-color);
}

.top-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.top-nav a {
  color: var(--color-two);
  text-decoration: none;
}

.top-nav a:hover {
  color: var(--color-three);
}
