:root {
  --main-bg-color: #fff;
  --color-one: #757575;
  --color-two: #212121;
  --color-three: #2196f3;
  --color-four: #2f303a;
  --secondary-font: 'Raleway', sans-serif;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--color-one);
  font-size: 14px;
  line-height: 24px;
}

.header {
  background: var(--main-bg-color);
}

.top-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.9;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.top-nav a {
  color: var(--color-two);
  text-decoration: none;
}

.top-nav a:hover,
.top-nav a:focus {
  color: var(--color-three);
}

.top-nav-list a {
  color: var(--color-one);
}

.top-nav-list a:hover,
.top-nav-list a:focus {
  color: var(--color-three);
}

.hero {
  background-color: var(--color-four);
}

.hero h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 0.7;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bg-color);
}

.hero button {
  background-color: var(--color-three);
  color: var(--main-bg-color);
  cursor: pointer;
}

.advantages {
  background-color: var(--main-bg-color);
}

.advantages h3 {
  color: var(--color-two);
}

.advantages p {
  font-weight: 400;
  font-size: 14px;
  line-height: 0.6;
  letter-spacing: 0.03em;
}

.our-activities {
  color: var(--color-two);
}

.our-team {
  background-color: #f5f4fa;
}

.our-team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.9;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-two);
}

.our-team h3 {
  color: var(--color-two);
}

.our-team p {
  color: var(--color-one);
}

.footer {
  background-color: var(--color-four);
}

.map {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 0.6;
  letter-spacing: 0.03em;
  color: var(--main-bg-color);
}

.map :hover,
.map :focus {
  color: var(--color-three);
}

.mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 0.6;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mail :hover,
.mail :focus {
  color: var(--color-three);
}

.tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 0.6;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.tel :hover,
.tel :focus {
  color: var(--color-three);
}

/* друга сторінка сайту */

.work {
  background-color: #f5f5f5;
}

.work-list {
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 0.6;
  letter-spacing: 0.03em;
  color: var(--color-two);
  cursor: pointer;
}

.work-list :hover,
.work-list :focus {
  background-color: var(--color-three);
}

.gallery {
  background-color: #f5f5f5;
}

.gallery h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 0.5;
  letter-spacing: 0.06em;
  color: var(--color-two);
}

.gallery p {
  font-weight: 700;
  font-size: 18px;
  line-height: 0.5;
  letter-spacing: 0.06em;
  color: var(--color-one);
}
